<div id="about-wrapper" class="wrapper">
  <div class="container d-flex justify-content-center align-items-center m-0 no-max-width">
    <div class="row d-flex justify-content-center">
      <div class="row mb-5 mt-5">
        <div class="col-12 text-center">
          <h1 class="title_text">
            About me
          </h1>
          <h5 class="subtitle_text">
            A short summary of what I am and what I do.
          </h5>
        </div>
      </div>
      <div class="row justify-content-center" id="about_me_text">
        <div class="col-12 col-sm-10 col-md-8 text-left">
          <p class="primary-col">
              Hi, my name is Nikolay and I am a student and the Technical University of Berlin, Germany in the Bachelor course Business informatics (original name in German - Wirtschaftsinformatik).
              <br>
              <br>
              I was born and raised in Sofia, Bulgaria and during my High School years I was introduced to programming with languages like Visual Basic and C#.
              <br>
              <br>
              A couple of years later, in 2017, I was accepted at the Technical university of Berlin, Germany and it was during the summer of 2017 and the first year of college that I really started to focus on Software engineering and experimentation with different languages and technologies. It was during the first semester when I successfully launched my first Android app on the Google Play Store and during the second semester when I was hired as a Software Developer at Perfacct UG in Potsdam, Germany. 
              <br>
              <br>
              There have been a lot of projects I have been part during the last couple of years and most of them are documented in the Projects page on this website, so check them out, if you are interested.
              <br>
              <br>
              I am always interested and open to new ideas, so feel free to reach out to me! We might as well create the next big thing!              
          </p>
        </div>
      </div>
      <app-timeline></app-timeline>
    </div>
  </div>
</div>