<nav class="d-flex align-items-start flex-column h-100 m-0">
  <div class="m-auto m-auto">
      <ul>
        <li>
          <a routerLink="/home">
            <i class="material-icons" title="Home">home</i>
          </a>
        </li>
        <li>
            <a routerLink="/about">
              <i class="material-icons" title="About">person</i>
            </a>
        </li>
        <li>
          <a routerLink="/web_development">
            <i class="material-icons" title="Web Development">web</i>
          </a>
        </li>
        <li>
          <a routerLink="/data_science">
            <i class="material-icons" title="Data Science">insights</i>
          </a>
        </li>
        <li>
          <a routerLink="/photography">
            <i class="material-icons" title="Photography">camera_alt</i>
          </a>
        </li>
        <li>
          <a routerLink="/my-work">
            <i class="material-icons" title="Projects">work</i>
          </a>
        </li>
        <li>
          <a routerLink="/contact">
            <i class="material-icons" title="Contact">email</i>
          </a>
        </li> 
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/nikolaygnik/" target="_blank">
            <i class="fa fa-linkedin fa-2x text-primary"></i>
          </a>
        </li>
      </ul>
    </div>
</nav>