<div id="home-wrapper" class="wrapper">
  <div class="container d-flex align-items-center h-100 m-0">
    <div class="row justify-content-start align-self-center w-100 text-left">
      <div class="col-12 col-sm-9 col-md-6 ml-0 ml-sm-3 ml-md-5">
          <h2 class="title_text">
            Hi,
            <br>
            I am Nikolay,
            <br>
            a software developer
            <br>
            and a full-time good time haver.
          </h2>
          <a routerLink="/contact">
            <button type="button" class="btn waves-effect custom-button fill">Contact me</button>
          </a>
      </div>
    </div>
  </div>
</div>